#
# {{ ansible_managed }}
#
[Unit]
Description=Kafka: Scalable Queuing System
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/kafka
User={{ kafka_user}}
Group={{ kafka_user_group }}
WorkingDirectory={{ kafka_home }}
ExecStart={{ kafka_home }}/bin/kafka-server-start.sh {{ kafka__config_path }}
ExecStop={{ kafka_home }}/bin/kafka-server-stop.sh {{ kafka__config_path }}
Restart=always

[Install]
WantedBy=multi-user.target
Alias=kafka.service
