---
# This manifest is templated by Ansible
# It defines the PersistentVolumeClaim that agents will use for caching.
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ jenkins_k8s_pvc_name }}"
  namespace: "{{ jenkins_k8s_namespace }}"
spec:
  # If a specific storage class is defined, use it. For static PV, it should be "".
  storageClassName: "{{ jenkins_k8s_pvc_storage_class }}"
  accessModes:
{% for mode in jenkins_k8s_pvc_access_modes %}
  - {{ mode }}
{% endfor %}
  resources:
    requests:
      storage: "{{ jenkins_k8s_pvc_size }}"
{% if jenkins_k8s_create_pv | bool %}
  # Statically bind to the PV created by this role.
  # This line is omitted when using a dynamic StorageClass.
  volumeName: "{{ jenkins_k8s_pv_name }}"
{% endif %}
